.name {
    color: blue;
    font-family: "Times New Roman";
    font-weight: bolder;
    text-align: center;
    padding: 0px;
    padding-left: 15px;
    margin: 0px;
    font-size: 250%;
    background-color: orange;
    unicode-bidi:
}

.name:hover {
    color: red;
    background-color: green;
}

.HomePageText {
    text-align: center;
    margin-top: 2%;
    color: inherit;
    background-color: rgba(220, 220, 220, 0.5);
    font-size: 150%;
    font-weight: bold;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 300px;
}

.batch {
    background-color: darkgreen;
    padding: 0px;
    margin: 0px;
    font-size: 33px;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    width: 300px;
}

.batch:hover {
    background-color: red;
}

div img {
    width: 100%;
    transition: border-radius 5s;
    border-radius: 0px;
}

div img:hover {
    border-radius: 1500px;
}

.gallary {
    background-color: orange;
    height: 435px;
    width: 100%;
    overflow: auto;
    float: right;
    margin-left: 0px;
    padding-left: 0px;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    background-color: none;
    position: fixed;
}

li {
    font-size: 20px;
    font-family: arial;
    font-weight: bold;
    background-color: blue;
    float: left;
    border-color: red;
    border-width: 2px;
    border-style: double;
    border-radius: 20px;
    color: white;
    text-align: left;
    padding: 0px;
    text-decoration: none;
    margin: 0px;
    height: 40px;
    overflow: hidden;
    display: grid;
}

li:hover {
    background-color: rgb(150, 150, 150)
}

table {
    width: 100%;
    overflow-x: scroll;
    display: flex;
}

.menu_buttons {
    font-size: 20px;
    font-family: arial;
    font-weight: bold;
    float: left;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    margin: 0px;
}

.main {
    border-radius: 0px;
    background-image: url('../images/1.jpg');
    image-rendering: auto;
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}

.logo {
    width: 10%;
    height: 10%;
    float: right;
    background-color: whitesmoke;
    border: 2px solid yellow;
    border-radius: 1500px;
}

.logo:hover {
    transform: none;
}

footer {
    background-color: lightblue;
    margin-top: 2%;
}
