:root {
    --bs-bg-opacity: 1;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bs-orange);
}

::-webkit-scrollbar-thumb {
    background: var(--bs-secondary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bs-primary);

}

/* overwrite bootstrap focus on button */
button:focus {
    box-shadow: none !important;
}

body {
    background-image: url('../images/back-logo.png') !important;
    background-attachment: fixed !important;
    background-blend-mode: overlay;
}

textarea[name="comments"] {
    resize: none;
}

@media (min-width: 768px) {
    .rounded-md-start {
        border-top-left-radius: var(--bs-card-inner-border-radius) !important;
        border-bottom-left-radius: var(--bs-card-inner-border-radius) !important;
    }

    .rounded-md-top {
        border-top-left-radius: var(--bs-card-inner-border-radius) !important;
        border-top-right-radius: var(--bs-card-inner-border-radius) !important;
    }

    .rounded-md-end {
        border-top-right-radius: var(--bs-card-inner-border-radius) !important;
        border-bottom-right-radius: var(--bs-card-inner-border-radius) !important;
    }

    .rounded-md-bottom {
        border-bottom-left-radius: var(--bs-card-inner-border-radius) !important;
        border-bottom-right-radius: var(--bs-card-inner-border-radius) !important;
    }

    .rounded-md-top-right {
        border-top-right-radius: var(--bs-card-inner-border-radius) !important;
    }

    .rounded-md-top-left {
        border-top-left-radius: var(--bs-card-inner-border-radius) !important;
    }

    .rounded-md-bottom-right {
        border-bottom-right-radius: var(--bs-card-inner-border-radius) !important;
    }

    .rounded-md-bottom-left {
        border-bottom-left-radius: var(--bs-card-inner-border-radius) !important;
    }

    .rounded-md-top-right-0 {
        border-top-right-radius: 0 !important;
    }

    .rounded-md-top-left-0 {
        border-top-left-radius: 0 !important;
    }

    .rounded-md-bottom-right-0 {
        border-bottom-right-radius: 0 !important;
    }

    .rounded-md-bottom-left-0 {
        border-bottom-left-radius: 0 !important;
    }
}

@media (max-width: 576px) {
    .rounded-top-right-0 {
        border-top-right-radius: 0 !important;
    }

    .rounded-top-left-0 {
        border-top-left-radius: 0 !important;
    }

    .rounded-bottom-right-0 {
        border-bottom-right-radius: 0 !important;
    }

    .rounded-bottom-left-0 {
        border-bottom-left-radius: 0 !important;
    }

}

.top-40 {
    top: 40% !important
}

a[href="index.html"].text-decoration-none.text-dark {
    animation-name: view;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes view {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

.arise {
    animation-name: arise;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes arise {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .row-cols-lg-7>* {
        flex: 0 0 auto;
        width: calc(100% / 7);
    }

    .row-cols-lg-8>* {
        flex: 0 0 auto;
        width: calc(100% / 8);
    }
}